<!DOCTYPE html>
<html>
<head>
<title> About Me</title>
</head>
<body>
    
<ul>
 <li> About</li>
 <li> About Web Apps </li>
 <li> About My Skill </li>
 <li> About My talent and Hire me </li>
 </ul>
<%= link_to 'Home', root_path %>
</body>
</html>
