<!DOCTYPE html>
<html>
<head>
<title>Chetan Khanzode</title>
</head>
<body>

    <p>  I am Software professional and interested in making carrier in Ruby on Rails </p>
    <%= link_to 'About', about_path %>
</body>
</html>

